/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;500;700&family=Parisienne&display=swap');

:root {
  --c-blue: #dcf1fc;
  --c-ivory: #fffff0;
  --c-text-soft: #5a4a5a; /* 부드러운 텍스트 색상 */
  --c-accent-gold: #d4af37; /* 포인트 컬러 */
  
  --font-serif: 'Noto Serif KR', serif;
  --font-script: 'Parisienne', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-serif);
  color: var(--c-text-soft);
  overflow-x: hidden;
  background-color: #FFF8EA;
  min-height: 100vh;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 스크롤바 커스텀 (선택사항) */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.5); border-radius: 4px; }